<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<!-- label* -->
<key>Label</key>
<string>py.tweetbot.python</string>

<!-- script* -->
<key>ProgramArguments</key>
<array>
<string>/Users/manabesoya/.pyenv/shims/python</string>
<string>/Users/manabesoya/scripts/tweetbot.py</string>
</array>

<!-- launchctl loadしたタイミングで実行するか -->
<key>RunAtLoad</key>
<true/>

<!-- いつ実行するのか -->
<key>StartCalendarInterval</key>
   <array>
       <dict>
           <key>Hour</key>
           <integer>7</integer>
           <key>Minute</key>
           <integer>0</integer>
       </dict>
       <dict>
           <key>Hour</key>
           <integer>12</integer>
           <key>Minute</key>
           <integer>0</integer>
       </dict>
       <dict>
           <key>Hour</key>
           <integer>17</integer>
           <key>Minute</key>
           <integer>0</integer>
       </dict>
    </array>

<!-- ログ指定 -->
<key>StandardErrorPath</key>
<string>/Users/manabesoya/scripts/err.log</string>
<key>StandardOutPath</key>
<string>/Users/manabesoya/scripts/log.log</string>
</dict>
</plist>
